#container-box {
    position: absolute;
    left: auto;
    right: auto;
    top: 2.5%;
    z-index: 1;
    width: 9rem;
    height: 9rem;
    display: flex;
    border-radius: 50%;
    justify-content: center;
}

#profile-image {
    height: 9rem;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}