.App {
    text-align: center;
    min-height: 100vh;
    background-color: #E6EBEA;
}

#root-grid {
    min-height: 100vh;
}

#card-actions {
    justify-content: center;
}

#card {
    min-width: 72.5%;
    margin: -7% 30% 0% 30%;
    padding-top: 3%;
    position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');